

.form {
 width: 350px;
 margin: 100px;
}

.item-card {
  max-width: 420px;
}


/* 
body {
  margin: 0;
}

button {
  font: inherit;
  background: #5102ac;
  border: 1px solid #5102ac;
  color: white;
  cursor: pointer;
  padding: 1.25rem 2.5rem;
  font-size: 1.5rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #832ee4;
  border-color: #832ee4;
}

#control-center {
  border: 2px solid #ccc;
  margin: 5rem;
  padding: 2rem;
} */




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
}

/* body{
  background: #fece0c;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254,236,164,1); 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.input_field input[type="number"]
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #fece0c;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
} */

.form {
  width: 300px;
}

#message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}